@model Speisekarte.Models.Admin.MenuModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddMenu</title>
    <script>
        $(document).ready(function () {
            $("#submit").click(function () {
                var menuData = new Object();
                menuData.Name = $("#NameEdit").val();
                menuData.Cost = $("#CostEdit").val()
                menuData.Appetizer = $("#AppetizerEdit option:checked").val()
                menuData.MainCourse = $("#MainCourseEdit option:checked").val()
                menuData.Dessert = $("#DessertEdit option:checked").val()

                $.ajax({
                    type: "POST",
                    url: '/Admin/AddMenuToDb',
                    data: { 'menuData': JSON.stringify(menuData) },
                    success: function (data) {
                        alert("Speichern erfolgreich.")
                    },
                    error: function (data) {
                        alert("Fehler beim Speichern der Daten.");
                    }
                });
            })

        })
    </script>
</head>
<body>
    <div class="form-horizontal">
        <h4>Menu</h4>
        <hr />
        <div class="form-group">
            <p class="control-label col-md-2">Name</p>
            <div class="col-md-10">
                <input id="NameEdit" type="text" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2">Kosten</p>
            <div class="col-md-10">
                <input id="CostEdit" type="number" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2">Vorspeise</p>
            <div class="col-md-10">
                <select id="AppetizerEdit" name="vorspeise" class="form-control">
                    @foreach (string item in Model.Appetizer)
                    {
                        <option>@item</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2">Hauptgang</p>
            <div class="col-md-10">
                <select id="MainCourseEdit" name="hauptgang" class="form-control">
                    @foreach (string item in Model.MainCourse)
                    {
                        <option>@item</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2">Nachspeise</p>
            <div class="col-md-10">
                <select id="DessertEdit" name="nachspeise" class="form-control">
                    @foreach (string item in Model.Dessert)
                    {
                        <option>@item</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2">Nachspeise</p>
            <div class="col-md-10">
                <select id="DrinkEdit" name="trinken" class="form-control">
                    @foreach (string item in Model.Drinks)
                    {
                        <option>@item</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>


    <div>
        @Html.ActionLink("Back to List", "Index", "Home")
    </div>
</body>
</html>
