@using Speisekarte.Models.Admin
@using Speisekarte.Entities
@model MealModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Menu View</title>
    <script>
        $(document).ready(function () {

        })
    </script>
</head>
<body>
    <div>
        <h1>Speisen Bearbeiten</h1>
        <hr />
        <table class="table">
            <thead>
                <tr>
                    <th class="viewtd">Name</th>
                    <th class="viewtd">Typ</th>
                    <th class="viewtd">Kosten</th>
                    <th class="viewtd"><span style="margin-left: 13px" class="glyphicon glyphicon-pencil"></span></th>
                    <th class="viewtd"><span style="margin-left: 13px" class="glyphicon glyphicon-remove"></span></th>
                </tr>
            </thead>
            <tbody>
                @foreach (Meal meal in Model.Meals)
                {
                    <tr>
                        <td class="viewtd">@meal.Name</td>
                        <td class="viewtd">@meal.Type</td>
                        <td class="viewtd">@meal.Cost</td>
                        <td class="viewtd"><button type="button" class="btn btn-primary editButton" onclick="location.href='@Url.Action("EditMeal", "Admin", new { id=meal.ID })'"><span class="glyphicon glyphicon-pencil"></span></button></td>
                        <td class="viewtd"><button type="button" class="btn btn-danger removeButton" onclick="if(window.confirm('Speise @meal.Name wirklich löschen?')){location.href='@Url.Action("RemoveMeal", "Admin", new { id=meal.ID })'}"><span class="glyphicon glyphicon-remove"></span></button></td>
                    </tr>
                }
            </tbody>
        </table>
        <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("AddMeal", "Admin")'"><span class="glyphicon glyphicon-plus"></span></button>
    </div>
</body>
</html>
