@using Speisekarte.Models.Home
@using Speisekarte.Data.Classes
@using Speisekarte.Data.Enum
@model HomeModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Menu View</title>
    <script>
        $(document).ready(function () {
            
        })


    </script>
</head>
<body>
    <div>
        <h1>Menus Bearbeiten</h1>
        <hr />
        <table class="table">
            <thead>
                <tr>
                    <th class="viewtd">Name</th>
                    <th class="viewtd">Beschreibung</th>
                    <th class="viewtd">Vorspeisen</th>
                    <th class="viewtd">Hauptgang</th>
                    <th class="viewtd">Nachspeisen</th>
                    <th class="viewtd">Trinken</th>
                    <th class="viewtd">Kosten</th>
                    <th class="viewtd"><span style="margin-left: 13px" class="glyphicon glyphicon-pencil"></span></th>
                    <th class="viewtd"><span style="margin-left: 13px" class="glyphicon glyphicon-remove"></span></th>
                </tr>
            </thead>
            <tbody>
                @foreach (NonContextMenu menu in Model.Menus)
                {
                    <tr>
                        <td class="viewtd">@menu.Name</td>
                        <td class="viewtd">@menu.Description</td>
                        <td class="viewtd">@String.Join(", ", menu.Meals.Where(x => x.Type == MealType.Appetizer.ToString()).Select(x => x.Name))</td>
                        <td class="viewtd">@String.Join(", ", menu.Meals.Where(x => x.Type == MealType.MainCourse.ToString()).Select(x => x.Name))</td>
                        <td class="viewtd">@String.Join(", ", menu.Meals.Where(x => x.Type == MealType.Dessert.ToString()).Select(x => x.Name))</td>
                        <td class="viewtd">@String.Join(", ", menu.Drinks.Select(x => x.Name))</td>
                        <td class="viewtd">@menu.Cost</td>
                        <td class="viewtd"><button type="button" class="btn btn-primary editButton" onclick="location.href='@Url.Action("EditMenu", "Admin", new { id=menu.ID })'"><span class="glyphicon glyphicon-pencil"></span></button></td>
                        <td class="viewtd"><button type="button" class="btn btn-danger removeButton" onclick="if(window.confirm('Menu @menu.Name wirklich löschen?')){location.href='@Url.Action("RemoveMenu", "Admin", new { id=menu.ID })'}"><span class="glyphicon glyphicon-remove"></span></button></td>
                    </tr>
                }
            </tbody>
        </table>
        <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("AddMenu", "Admin")'"><span class="glyphicon glyphicon-plus"></span></button>
    </div>
</body>
</html>
