@using Speisekarte.Data.Classes;
@using Speisekarte.Data.Enum;
@model Speisekarte.Models.Home.HomeModel
@{
    ViewBag.Title = "Speisekarte";
}

<h1>Speisekarte</h1>
<hr />
<div class="row">
    @foreach (NonContextMenu menu in Model.Menus)
    {
        <div class="col-md-4">
            <h2>@menu.Name</h2>
            <p>Vorspeise: @String.Join(", ", menu.Meals.Where(x => x.Type == MealType.Appetizer.ToString()).Select(x => x.Name))</p>
            <p>Hauptgang: @String.Join(", ", menu.Meals.Where(x => x.Type == MealType.MainCourse.ToString()).Select(x => x.Name))</p>
            <p>Nachspeise: @String.Join(", ", menu.Meals.Where(x => x.Type == MealType.Dessert.ToString()).Select(x => x.Name))</p>
            <p>Trinken: @String.Join(", ", menu.Drinks.Select(x => x.Name))</p>
            <input type="button" class="btn btn-success" value="@menu.Cost €" />
        </div>
    }

</div>